<div class="bg-light">
  <div class="container links">
    <div class="row">
      <div class="col text-center">
        <h5>Enlaces Relacionados: </h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a role="button" class="nav-link" target="_blank" href="http://www.afip.gov.ar/sitio/externos/default.asp">AFIP</a></li>
          <li class="nav-item"><a role="button" class="nav-link" target="_blank" href="http://www.dprneuquen.gov.ar/">Rentas Neuquén</a></li>
          <li class="nav-item"><a role="button" class="nav-link" target="_blank" href="http://www.rentas.rionegro.gov.ar/index.php?catID=400">Rentas Río Negro</a></li>
          <li class="nav-item"><a role="button" class="nav-link" target="_blank" href="http://www.anses.gob.ar/">ANSES</a></li>
          <li class="nav-item"><a role="button" class="nav-link" target="_blank" href="http://www.bcra.gob.ar/">BCRA</a></li>
          <li class="nav-item"><a role="button" class="nav-link" target="_blank" href="http://www.jusneuquen.gov.ar/">Poder Judicial Neuquén</a></li>
        </ul>
      </div>
      <div class="col text-center">
        <h5>Enlaces Recomendados: </h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a role="button" class="nav-link" target="_blank" href="https://seti.afip.gob.ar/padron-puc-constancia-internet/ConsultaConstanciaAction.do">CUIT Online</a></li>
          <li class="nav-item"><a role="button" class="nav-link" target="_blank" href="http://www.afip.gob.ar/genericos/imprentas/facturas.asp">Control de Comprobantes AFIP</a></li>
          <li class="nav-item"><a role="button" class="nav-link" target="_blank" href="http://www.dentrode.com.ar/">Dentro DE</a></li>
          <li class="nav-item"><a role="button" class="nav-link" target="_blank" href="http://www.infoleg.gob.ar/">Información Legislativa</a></li>
          <li class="nav-item"><a role="button" class="nav-link" target="_blank" href="http://www.triviasp.com.ar/">Trivia</a></li>
          <li class="nav-item"><a role="button" class="nav-link" target="_blank" href="http://www.iprofesional.com/">Información Profesional</a></li>
        </ul>
      </div>
      <div class="col">
        <img src="../../../assets/img/qr_img.png" alt="QR-Code" class=img-fluid>
      </div>
      <div class="col text-center">
        <h5>Contacto: </h5>
        <ul class="nav flex-column text-center">
          <li class="nav-item"><a role="button" class="nav-link contacto">Tel: 0299 - 442 5691</a></li>
          <li class="nav-item"><a role="button" class="nav-link contacto">Mail: info@psestudio.com.ar</a></li>
          <li class="nav-item"><a role="button" class="nav-link contacto">Tucumán 335</a></li>
          <li class="nav-item"><a role="button" class="nav-link contacto">Neuquén Capital - Neuquén</a></li>
          <li class="nav-item"><a role="button" class="nav-link contacto">Patagonia - Argentina</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer bg-secondary">
  <div class="container">
    <footer class="row align-self-center">
      <div class="col text-right">
        <p>&copy;2017 Conrado Campetella</p>
      </div>
    </footer>
  </div>
</div>