<h2>Impositivo</h2>
<hr>
<p>El aumento de la presión tributaria y la complejidad de las normas, generan la necesidad de mantener un asesoramiento especializado en esta área</p>
<h5>Los principales servicios que ofrecemos son los siguientes:</h5>
<ul>
    <li>Asesoramiento integral en impuestos de caracter nacional, provincial y municipal.</li>
    <li>Confección y/o revisión de declaraciones juradas.</li>
    <li>Asesoramiento sobre regímenes promocionales</li>
    <li>Asesoramiento sobre Reorganización Societaria.</li> 
    <li>Supervisión y control de las obligaciones en caracter de agentes de retención, percepción y/o de información.</li>
    <li>Asesoramiento y representación frente a organismos nacionales, provinciales y municipales, cámaras y asociaciones de caracter empresario.</li>
    <li>Asesoramiento ante inspecciones, determinaciones de oficio, apelaciones en instancias administrativas y judiciales.</li>
    <li>Preparación de Recursos y patrocinio ante el Tribunal Fiscal de la Nación y demás instancias judiciales.</li>
    <li>Planificación fiscal nacional e internacional, optimización de los recursos a través del análisis impositivo.</li>
    <li>Análisis de Precios de Transferencia.</li>
    <li>Envío de circulares informativas respecto a cambios en la legislación y/o tendencia de la jurisprudencia respecto a temas de interés de la empresa.</li>
    <li>Recupero de impuestos.</li>
    <li>Transferencia de crédito fiscal.</li>
</ul>