<div class="content">
  <h2>I.T.C.- Impuesto a la Transferencia de los Combustibles</h2>
  <h2><small>Normativa vigente y algunas sugerencias</small></h2>
  <h3><strong>ESTO ES LEY</strong></h3>
  <hr>
  <p>Desde su implementación este ingrediente tributario presente en muchas de las compras de gas oil(solamente a partir del
    11 de Noviembre es observable en algunas facturas su no inclusión) y su implementación, han dado lugar a diversas interpretaciones
    aplicativas, por lo que en este intento de clarificar su situación, se partirá de la norma y al pié se establecerán propuestas
    prácticas de cómo consignar lo como anticipo a cuenta del IVA aplicable a la facturación de transporte nacional- o para
    solicitar su compensación en caso de ser utilizado por transporte internacional.</p>
  <h4>NORMATIVA ACTUAL APLICABLE:</h4>
  <h5>Ley Nacional 23.966-Art. 15- inc. sin número</h5>
  <p><strong>ARTICULO 15</strong> - Los productores agropecuarios y los sujetos que presten servicio de laboreo de la tierra,
    siembra y cosecha, podrán computar como pago a cuenta del impuesto a las ganancias el CIENTO POR CIENTO (100 %) del impuesto
    a los combustibles líquidos contenido en las compras de gas oil efectuadas en el respectivo período fiscal, que se utilicen
    como combustible en maquinaria agrícola de su propiedad, en las condiciones que se establecen en los párrafos siguientes.</p>
  <p>Esta deducción sólo podrá computarse contra el impuesto atribuible a la explotación agropecuaria o a la prestación de los
    aludidos servicios, no pudiendo generar en ningún caso saldo a favor del contribuyente.</p>
  <p>El importe a computar en cada período fiscal no podrá exceder la suma que resulte multiplicar la alícuota vigente al cierre
    del respectivo ejercicio, por el precio promedio ponderado por litro correspondiente al mismo ejercicio, por la cantidad
    de litros descontado como gasto en la determinación del Impuesto a las Ganancias según la declaración jurada presentada
    por el período fiscal inmediato anterior a aquel en que se practique el cómputo del aludido pago a cuenta. (Párrafo sustituido
    por art. 1° g) de la Ley N°25.745 B.O. 25/6/2003.</p>
  <p>Vigencia: a partir del día de su publicación en el Boletín Oficial y tendrán efecto para los hechos imponibles que se perfeccionen
    a partir del primer día del mes subsiguiente a dicha publicación, inclusive.</p>
  <p>Cuando en un período fiscal el consumo del combustible supere el del período anterior, el cómputo por la diferencia sólo
    podrá efectuarse en la medida que puedan probarse en forma fehaciente los motivos que dieron origen a este incremento,
    en la oportunidad, forma y condiciones que disponga la ADMINISTRACION FEDERAL DE INGRESOS PUBLICOS, entidad autárquica
    en el ámbito del MINISTERIO DE ECONOMIA Y OBRAS Y SERVICIOS PUBLICOS. También podrán computar como pago a cuenta del
    impuesto a las ganancias el CIENTO POR CIENTO (100 %) del impuesto a los combustibles líquidos contenido en las compras
    de gas oil del respectivo período fiscal, los productores y sujetos que presten servicios en la actividad minera y en
    la pesca marítima hasta el límite del impuesto abonado por los utilizados directamente en las operaciones extractivas
    y de pesca, en la forma y con los requisitos y limitaciones que fije el PODER EJECUTIVO NACIONAL.</p>
    <a href="../../../../assets/articulos/ITC.pdf" target="_blank" role="button" class="btn btn-info">Descargar Artículo Completo en PDF</a>
</div>