<h2>Laboral</h2>
<hr>
<h5>El servicio consiste en:</h5>
<ul>
    <li>Liquidación de remuneraciones (sueldos, aguinaldos, vacaciones, bonos).</li>
    <li>Liquidación de cargas sociales.</li>
    <li>Emisión de recibos de haberes.</li> 
    <li>Confección de declaraciones juradas de acuerdo a requerimientos legales vigentes.</li>
    <li>Registro en los libros de acuerdo a requerimientos legales vigentes.</li>
    <li>Preparación de información de acuerdo a requerimientos contables.</li>
    <li>Asesoramiento en armado de legajos del personal.</li>
    <li>Asesoramiento integral en legislación laboral.</li>
    <li>Atención de inspecciones.</li>
</ul>