<div class="container content">
  <div class="row">
    <div class="col-lg order-2 order-lg-1 align-self-center">
      <img src="../../../assets/img/nosotros-trabajando.png" alt="Nosotros Trabajando" class="img-fluid rounded">
    </div>
    <div class="col-lg order-1 order-lg-2 align-self-center">
      <h3>Misión</h3>
      <hr>
      <p>
        La Filosofía basada en la transparencia y el trato directo del Contador marcan la diferencia en su compromiso con el cliente.
        La integridad del Contador Público está garantizada ya que prestamos los servicios siguiendo una rigurosa metodología
        que respeta las normas legislativas nacionales e internacionales vigentes. Nuestra misión es establecer con nuestros
        clientes una relación que se prolongue en el tiempo, a partir de la prestación de servicios profesionales de calidad
        que les faciliten la obtención de sus metas y que resulten economicamente beneficiosos para ambas partes.
      </p>
    </div>
  </div>
  <div class="row"> 
    <div class="col-lg order-1 order-lg-1 align-self-center">
      <h3>Visión</h3>
      <hr>
      <p>
        Ser un estudio reconocido por su respeto a los compromisos asumidos como contador público, su alto grado de profesionalismo,
        su compromiso ético y su política de mejoramiento continuo en calidad. La búsqueda constante del éxito en los negocios
        de nuestros clientes es una prioridad para nosotros.
      </p>
    </div>
    <div class="col-lg order-2 order-lg-2 align-self-center">
      <img src="../../../assets/img/nosotros-graficos.png" alt="Éxito" class="img-fluid rounded">
    </div>
  </div>
  <div class="row">
    <div class="col-lg order-2 order-lg-1 align-self-center">
      <img src="../../../assets/img/nosotros-mesa.png" alt="Nosotros Trabajando" class="img-fluid rounded">
    </div>
    <div class="col-lg order-1 order-lg-2 align-self-center">
      <h3>Valores</h3>
      <hr>
      <ul>
        <li>Trabajo en equipo y respeto por el individuo.</li>
        <li>Compromiso con nuestros empleados y clientes.</li>
        <li>Atención personalizada.</li>
        <li>Mantener relaciones a largo plazo entre contador público y cliente.</li>
        <li>Ejercer con transparecia y rectitud.</li>
        <li>Trabajar con sentido de pertenencia.</li>
        <li>Promovemos una relación de bienestar en el tienmpo, con nuestros empleados y clientes.</li>
      </ul>
    </div>
  </div>
</div>