<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="nav flex-column nav-pills" role="tablist">
        <a class="nav-link" routerLinkActive="active" data-toggle="pill" routerLink="/home/articulos/regulacion" role="tab" aria-expanded="true">Plan Especial de Regulación de Deudas</a>
        <a class="nav-link" routerLinkActive="active" data-toggle="pill" routerLink="/home/articulos/profuni" role="tab" aria-expanded="true">Profesionales Universitarios</a>
        <a class="nav-link" routerLinkActive="active" data-toggle="pill" routerLink="/home/articulos/itc" role="tab" aria-expanded="true"> I.T.C. Impuesto a la Transferencia de los Combustibles
          </a>
      </div>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>