<h2>Consultoría Societaria</h2>
<hr>
<h5>Las tareas que componen este servicio son las siguientes:</h5>
<ul>
  <li>Asesoramiento integral para consitución de todo tipo de sociedades comerciales.</li>
  <li>Fundaciones y asociaciones civiles.</li>
  <li>Redacción de actas.</li>
  <li>Emisión de acciones.</li>
  <li>Reformas de estatutos y/o contratos societarios, con su inscripción ante el organismo societario.</li>
  <li>Reorganizaciones societarias</li>
  <li>Actualización de libros societarios.</li>
</ul>