<h2>Recursos Humanos</h2>
<hr>
<h5>Administración de Nóminas</h5>
<p>División especializada en procesos de tercerización de liquidación y nóminas</p>
<h5>Búsqueda y selección de personal</h5>
<p>Sistema de búsqueda y selección de personal</p>
<h5>Outsourcing</h5>
<p>Servicio que le permite a las empresas focalizar sus esfuerzos en el Core de su negocio.</p>
<h6>¿Qué es el Outsourcing?</h6>
<p>El Outsourcing es una herramienta que le permite a las empresas focalizar sus esfuerzos en el core de su negocio y externalizar
  aquellos que son actividades secundarias.</p>
<p>Acompaña a su clientes en este tipo de servicios como socio estratégicos del negocio, a través de su conocimiento y especialización
  en distintos sectores de la actividad productiva y de servicios.</p>
<h6>Outsourcing de Procesos productivos</h6>
<p>Brindando servicios de valor agregado a su negocio, ofrece además del personal adecuado para realizar un proceso, el compromiso
  con los resultados. Este compromiso con la productividad se logra con la modalidad de contratación por unidad procesada,
  garantizando los estandares que el cliente requiere, compartiendo los riesgos, optimizando los recursos, minimizando los
  costos y resolviendo problemas que pudiesen presentarse.</p>
<h6>Outsourcing de procesos comerciales</h6>
<p>Con este servicio se focaliza en la gestión de procesos comerciales, así como procesos auxiliares vinculados a estos. Entre
  ellos podemos destacar la experiencia con la que contamos en fuerzas de venta, actividades de marketing directo, personal
  para eventos y promociones, entre otros</p>