<h2>Auditoría y Asesoramiento Gerencial</h2>
<hr>
<h3>¿En qué consiste la Auditoría?</h3>
<p>
  La Auditoría constituye un mecanismo de control y verificación de la información, que ayuda a la creación de una cultura
  de orden en la organización y permite detectar debilidades en los procedimientos administrativos contables de la organización.
  Pretendemos brindarles a nuestros clientes informes adecuados a sus necesidades que sirvan como herramientas para la toma
  de decisiones en tiempo oportuno.
</p>
<p>
  La práctica de auditoría de <strong>PONCI & SPADARO</strong> está orientada a brindar un servicio personalizado y de alta
  calidad, potenciando el desarrollo de los negocios de sus clientes.
</p>
<p>
  El enfoque de auditoría, basado en la evaluación de riesgos, permite alcanzar los objetivos fijados, tanto en
  lo referente a requerimientos legales y regulatorios como los empresariales, en un marco de eficiencia y productividad.
</p>

<p>El enfoque de esta área de <strong>PONCI & SPADARO</strong> sustenta la generación de oportunidades de negocios basadas en:</p>
<ul>
  <li>Servicio orientado a la solución de deficiencias.</li>
  <li>Reducción efectiva de costos.</li>
  <li>Flexibilidad y capacidad de respuesta frente al cambio.</li>
  <li>Aseguramiento del control de calidad de los procesos y gestión de información, todos ellos alineados con los objetivos
    del negocio. </li>
</ul>

<h3>Ofrecemos los siguientes servicios:</h3>
<h5>Auditoría Contable:</h5>
<ul>
  <li>Auditoría externa de estados financieros.</li>
  <li>Asesoramiento contable.</li>
  <li>Adecuación de estados financieros.</li>
  <li>Auditoría Operativa y de Gestión administrativa.</li>
  <li>Auditoría e informes mensuales y trimestrales de Estados Contables.</li>
  <li>Informes y control de documentos, registros y estados financieros para determinar si éstos reflejan razonablemente la situación
    financiera de la empresa, con el objetivo de mejorar el control interno y la gestión económico-financiera</li>
</ul>
<h5>Auditoría Sueldos, Previsional e Impositiva:</h5>
<ul>
  <li>Verificación del cumplimiento de las normas legales vigentes.</li>
  <li>Control de las obligaciones de la empresa como contribuyente y como empleador</li>
  <li>Verificación en la liquidación de Sueldos y Jornales.</li>
  <li>Verificación de inscripciones y encuadre ante los distintos organismos.</li>
  <li>Organización en el legajo del personal.</li>
  <li>Control de contratos de seguros obligatorios y optativos.</li>
</ul>
<h5>Auditoría de Gestión:</h5>
<ul>
  <li>Examen y evaluación del grado de eficiencia y eficacia en la planificación, control y uso de los recursos económicos.</li>
  <li>Informes de resultados.</li>
  <li>Monitoreo y control de los sistemas de información.</li>
</ul>