<div class="content">
  <h2>Profesionales Universitarios</h2>
  <h2>Exención en el Impuesto sobre Ingresos Brutos</h2>
  <h2><small>PROVINCIA DEL NEUQUEN</small></h2>
  <hr>
  <p>El Impuesto sobre los Ingresos Brutos, principal recurso que obtienen los gobiernos provinciales, grava el ejercicio de
    la actividad económica con propósitos de lucro en una determinada jurisdicción y, en general, se calcula únicamente sobre
    las ventas.</p>
  <p>La idea de esta nota es tomar conciencia sobre la posible gravabilidad del impuesto a los ingresos brutos en la provincia
    del Neuquén para los ingresos obtenidos por el ejercicio de profesiones liberales universitarias no organizados en forma
    de empresa.</p>
  <p>A continuación expondremos los motivos por los cuales consideramos que se debería mantener la gravabilidad a tasa 0 de
    los mencionados ingresos:</p>
  <ol>
    <li>Los ingresos de las profesiones liberales independientes se asemejan a los de una relación de dependencia, los cuales
      se consideran no gravados por el impuesto (Articulo N° 184 Inc. A del código fiscal de la Provincia del Neuquén). Esto
      se fundamente debido a que los sueldos percibidos son la principal fuente de consumo del país. Por eso, cualquier imposición
      que reduzca su ingreso neto provocará una disminución de sus consumos, al tiempo que los de menores ingresos son los
      que más sufren la inflación. Los que más tienen, en cambio, contribuyen mediante el pago de los impuestos al consumo
      y además mediante el impuesto sobre la renta (ganancias) y sobre el patrimonio (bienes personales). Cualquier imposición
      que reduzca su ingreso neto provoca una disminución de sus ahorros y sólo en menor medida de sus consumos.
    </li>
    <li>El impuesto a los ingresos brutos provoca los efectos conocidos como "cascada" y "piramidación" porque se aplica a todas
      las actividades y etapas sin que exista crédito por el impuesto pagado en las instancias anteriores de la cadena productiva.
      Se considera que produce distorsiones en los precios relativos, incentivando la integración de actividades y afectando
      la competitividad de los bienes producidos localmente.
    </li>
    <li>El impuesto es totalmente regresivo, ya que si uno tiene ingresos por 100 y gastos por el mismo importe, igualmente tendría
      que abonar el impuesto por el ingreso obtenido, sin tomar en cuenta que el beneficio que obtuvo fue neutro.</li>
    <li>La aplicación de una tasa a los ingresos de los profesionales generaría que quienes estén iniciando su actividad, tengan
      que soportar otro costo significativo en su estructura, hacienda cada vez mas complicado su desarrollo individual.</li>
    <li>Neuquén, al ser una provincia en plena etapa de crecimiento, esta compuesta por una alta cantidad de estudiantes y jóvenes
      profesionales; por lo que la aplicación de una tasa generaría fuga de capitales capacitados a otras provincias en las
      que no se aplica el impuesto o podría ocasionar el incentivo del trabajo informal.</li>
    <li>Es importante destacar que en la Argentina, existen 3 jurisdicciones (Ver ANEXO I) que eximen el pago del impuesto a
      los ingresos brutos obtenidos por el ejercicio de profesiones liberales universitarias no organizados en forma de empresa,
      como son:
      <ul>
        <li>Ciudad de Buenos Aires: Art 143 Inciso 7 - Ley 541</li>
        <li>Corrientes: Art 134 - Ley 3.037</li>
        <li>Tucumán: Art 228 Inc. 15 - Código Fiscal.</li>
      </ul>
    </li>
    <li>Se generaría un perjuicio para los colegios de profesionales, teniendo en cuenta que uno de los requisitos para obtener
      la gravabilidad a tasa 0 en la provincia del Neuquén, es estar matriculados en los respectivos colegios. Si se aplicara
      una tasa, podría traer aparejado la NO matriculación de profesionales, ocasionando tanto un perjuicio para los colegios,
      la provincia y consecuentemente una tarea menos profesional.</li>
    <li>En algunas profesiones, este costo seria muy complicado de trasladar al precio, debido a que el honorario es determinado
      por organismos fijadores de precio. Ejemplo: Obras sociales.</li>
    <li>La aplicación del impuesto, generaría retenciones a los ingresos, como puede ser: Retención Bancarias - Obras sociales
      - Colegios. Provocaría que se efectúen retenciones a concepto que no están alcanzados por el impuesto; como por ejemplo:
      la venta de un automóvil particular del profesional con su correspondiente acreditación bancaria. Dicha acreditación
      conllevará una retención cuando el objeto del hecho imponible no estaría alcanzado. Lo mismo podría ocurrir si el profesional
      trabaja en forma independiente y en relación de dependencia, y recibe los depósitos bancarios en una misma cuenta corriente.</li>
  </ol>
  <a href="../../../../assets/articulos/profesionalesuniversitarios.pdf" target="_blank" role="button" class="btn btn-info">Descargar Artículo Completo en PDF</a>
</div>