<div class="content">
  <h2>PLAN ESPECIAL DE REGULARIZACIÓN DE DEUDAS </h2>
  <h2><small>RG 3451 </small></h2>
  <hr>
  <ol>
    <li>Conceptos incluidos El Art. 1° de la RG 3451 contiene una definición genérica de los conceptos incluidos en el régimen
      especial y su alcance temporal. El artículo 2° solo explicita casos específicos que están incluidos en el artículo
      1° y que por lo tanto deben cumplir sus condiciones . Por ejemplo, el juicio de ejecución fiscal por anticipos impositivos
      no se encuentra incluido en el plan. En la reformulación de planes de pago no entran los solicitados por vencimientos
      de obligaciones producidas en marzo 2013, p. ej. IVA y Seguridad Social de febrero, por ser obligaciones con vencimiento
      posterior al 28 de febrero.
    </li>
    <li>Recupero IVA exportaciones Las intimaciones por recupero de IVA exportaciones impugnadas, se pueden incluir en el plan.
    </li>
    <li>Diferimientos impositivos por inversiones en regímenes de promoción Si corresponden a cuotas de diferimientos con vencimientos
      operados al 28/2/13, se incluyen en el plan, en caso contrario, no. </li>
    <li>Planes de pagos vigentes al 25/3/13
    <ol type="a">
      <li>Los planes de pago vigentes al 25/3/13, se pueden incluir en el plan, en la medida que se reformulen de acuerdo con
        el Art. 19 de la RG 3451. </li>
      <li>En el caso de reformulación de planes vigentes, con arreglo a lo dispuesto en el artículo 19 de la RG 3451, las cuotas
        vencidas del plan a reformular deben estar ingresadas a la fecha del acogimiento, como así también la cuota del mes
        de tal acogimiento. Por ejemplo, si se quiere adherir al plan en el mes de mayo, se requiere que el plan esté vigente,
        y que se abonen las cuotas de abril y mayo del plan a reformular.</li>
      <li>Si el plan de facilidades de pago vigente al 25/3/13 no se reformula con arreglo al Art. 19 de la RG 3451, no es posible
        su inclusión en el régimen. </li>
    </ol>
  </li>
    <li>Agentes de retención Si el contribuyente ha incluido en su declaración jurada un ingreso sobre el cual el agente de
      retención no actuó como tal, queda regularizada la situación fiscal de este último, excepto respecto de los intereses
      y de la multa por omisión.</li>
    <li>Importación de servicios Los intereses del hecho imponible "importación de servicios" pueden incorporarse al plan.
      </li>
    <li>Multas materiales Las multas por omisión o defraudación fiscal no aplicadas a la fecha de acogimiento no entran en
      el plan. </li>
    <li>Restructuración deuda consolidada Si una vez presentado el plan, se omite una deuda (por ejemplo, un ajuste de inspección
      del cual se toma conocimiento con posterioridad) se podrá proceder a reestructurar la deuda consolidada, presentando
      una nota explicando los motivos, anulando la solicitud anterior y presentando una nueva.</li>
    <li>Presentación por única vez La presentación del plan se producirá por única vez, consolidando todas las deudas (plan
      único). Si se rechaza el plan por falta de cumplimiento de requisitos, se podrá efectuar una nueva presentación por
      el total de la deuda (Art. 8, 14 último párrafo y 20 último párrafo). </li>
    <li>Efectos de la caducidad del plan Si el plan de pago queda caduco (p.ej. cuota 84), la caducidad producirá efectos
      respecto de los saldos adeudados pero no respecto de las cuotas canceladas con anterioridad. </li>
    <li>Efectos de la última cuota del plan impago Si la última cuota del plan quedó impaga, el efecto será la liquidación
      del interés resarcitorio del 3% sobre la deuda de capital, desde su origen. </li>
    <li>Sumas embargadas e incautadas con anterioridad a la adhesión En este caso, las sumas embargadas no pueden recuperarse
      y disminuirán la deuda a incorporar en el plan. </li>
  </ol>
</div>