*{
  margin:0;
  padding:0;
}

.background{
  background-image:url('../../../assets/img/landing-fondo.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}
.transbox{
  margin: 0px;
  background-color: #ffffff;
  opacity: 0.6;
}

h1{
  font-size:70px;
  line-height:1.2;
  font-weight: bold;
  opacity: 1;
}

