<!-- Nosotros-->
<div>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>¿Quiénes Somos?</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg order-2 order-lg-1 align-self-center">
        <img src="../../../assets/img/nosotros-trabajando.png" alt="Nosotros Trabajando" class="img-fluid rounded">
      </div>
      <div class="col-lg order-1 order-lg-2 align-self-center">
        <h3>Misión</h3>
        <hr>
        <p>
          La Filosofía basada en la transparencia y el trato directo del Contador marcan la diferencia en su compromiso con el cliente.
          La integridad del Contador Público está garantizada ya que prestamos los servicios siguiendo una rigurosa metodología
          que respeta las normas legislativas nacionales e internacionales vigentes. Nuestra misión es establecer con nuestros
          clientes una relación que se prolongue en el tiempo, a partir de la prestación de servicios profesionales de calidad
          que les faciliten la obtención de sus metas y que resulten economicamente beneficiosos para ambas partes.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg order-1 order-lg-1 align-self-center">
        <h3>Visión</h3>
        <hr>
        <p>
          Ser un estudio reconocido por su respeto a los compromisos asumidos como contador público, su alto grado de profesionalismo,
          su compromiso ético y su política de mejoramiento continuo en calidad. La búsqueda constante del éxito en los negocios
          de nuestros clientes es una prioridad para nosotros.
        </p>
      </div>
      <div class="col-lg order-2 order-lg-2 align-self-center">
        <img src="../../../assets/img/nosotros-graficos.png" alt="Éxito" class="img-fluid rounded">
      </div>
    </div>
    <div class="row">
      <div class="col-lg order-2 order-lg-1 align-self-center">
        <img src="../../../assets/img/nosotros-mesa.png" alt="Nosotros Trabajando" class="img-fluid rounded">
      </div>
      <div class="col-lg order-1 order-lg-2 align-self-center">
        <h3>Valores</h3>
        <hr>
        <ul>
          <li>Trabajo en equipo y respeto por el individuo.</li>
          <li>Compromiso con nuestros empleados y clientes.</li>
          <li>Atención personalizada.</li>
          <li>Mantener relaciones a largo plazo entre contador público y cliente.</li>
          <li>Ejercer con transparecia y rectitud.</li>
          <li>Trabajar con sentido de pertenencia.</li>
          <li>Promovemos una relación de bienestar en el tienmpo, con nuestros empleados y clientes.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Servicios-->
<div class="container-fluid text-white bg-dark">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>Nuestros Servicios</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <!--Cards-->
      <div class="col">
        <div class="card servicios text-info border-info mb-3">
          <div class="card-header">Auditoría y Asesoramiento Gerencial</div>
          <div class="card-body">
            <h4 class="card-title">¿En qué consiste la Auditoría?</h4>
            <p class="card-text">La Auditoría constituye un mecanismo de control y verificación de la información, que ayuda a la creación de
              una cultura de orden en la organización y permite detectar debilidades en los procedimientos administrativos
              contables de la organización. Pretendemos brindarles a nuestros clientes informes adecuados a sus necesidades
              que sirvan como herramientas para la toma de decisiones en tiempo oportuno.</p>
          </div>
          <a routerLink="/home/servicios/auditoria" class="btn btn-info">Detalles</a>
        </div>
      </div>
      <!--Cards-->
      <div class="col">
        <div class="card servicios text-info border-info mb-3">
          <div class="card-header">Consultoría Societaria</div>
          <div class="card-body">
            <h4 class="card-title">Las tareas que componen este servicio son las siguientes:</h4>
            <div class="card-text">
              <ul>
                <li>Asesoramiento integral para consitución de todo tipo de sociedades comerciales.</li>
                <li>Fundaciones y asociaciones civiles.</li>
                <li>Redacción de actas.</li>
                <li>Emisión de acciones.</li>
                <li>Reformas de estatutos y/o contratos societarios, con su inscripción ante el organismo societario.</li>
                <li>Reorganizaciones societarias</li>
                <li>Actualización de libros societarios.</li>
              </ul>
            </div>
          </div>
          <a routerLink="/home/servicios/consultoria" class="btn btn-info">Detalles</a>
        </div>
      </div>
      <!--Cards-->
      <div class="col">
        <div class="card servicios text-info border-info mb-3">
          <div class="card-header">Fideicomiso</div>
          <div class="card-body">
            <h4 class="card-title">¿Qué es un Fideicomiso?</h4>
            <p class="card-text">Un fideicomiso es un contrato o convenio en virtud del cual una persona, llamada fideicomitente o también fiduciante,
              transmite bienes, cantidades de dinero o derechos, presentes o futuros, de su propiedad a otra persona (una
              persona física, llamada fiduciaria), para que ésta administre o invierta los bienes en beneficio propio o en
              beneficio de un tercero, llamado fideicomisario.</p>
          </div>
          <a routerLink="/home/servicios/fideicomiso" class="btn btn-info">Detalles</a>
        </div>
      </div>
    </div>
    <div class="row">
      <!--Cards-->
      <div class="col">
        <div class="card servicios text-info border-info mb-3">
          <div class="card-header">Impositivo</div>
          <div class="card-body">
            <h4 class="card-title">Asesoramiento Impositivo</h4>
            <p class="card-text">El aumento de la presión tributaria y la complejidad de las normas, generan la necesidad de mantener un asesoramiento
              especializado en esta área. Proveemos asesormiento para que la carga impositiva de tu emprendimiento maximicen
              tus ganancias</p>
          </div>
          <a routerLink="/home/servicios/impositivo" class="btn btn-info">Detalles</a>
        </div>
      </div>
      <!--Cards-->
      <div class="col">
        <div class="card servicios text-info border-info mb-3">
          <div class="card-header">Laboral</div>
          <div class="card-body">
            <h4 class="card-title">El servicio consiste en:</h4>
            <div class="card-text">
              <ul>
                <li>Liquidación de remuneraciones (sueldos, aguinaldos, vacaciones, bonos).</li>
                <li>Liquidación de cargas sociales.</li>
                <li>Emisión de recibos de haberes.</li>
                <li>Confección de declaraciones juradas de acuerdo a requerimientos legales vigentes.</li>
                <li>Registro en los libros de acuerdo a requerimientos legales vigentes.</li>
                <li>Preparación de información de acuerdo a requerimientos contables.</li>
                <li>Asesoramiento en armado de legajos del personal.</li>
                <li>Asesoramiento integral en legislación laboral.</li>
                <li>Atención de inspecciones.</li>
              </ul>
            </div>
          </div>
          <a routerLink="/home/servicios/laboral" class="btn btn-info">Detalles</a>
        </div>
      </div>
      <!--Cards-->
      <div class="col">
        <div class="card servicios text-info border-info mb-3">
          <div class="card-header">Recursos Humanos</div>
          <div class="card-body">
            <h4 class="card-title">¿Qué es el Outsourcing?</h4>
            <p class="card-text">El Outsourcing es una herramienta que le permite a las empresas focalizar sus esfuerzos en el core de su negocio
              y externalizar aquellos que son actividades secundarias. Acompaña a su clientes en este tipo de servicios como
              socio estratégicos del negocio, a través de su conocimiento y especialización en distintos sectores de la actividad
              productiva y de servicios.</p>
          </div>
          <a routerLink="/home/servicios/rrhh" class="btn btn-info">Detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Artículos-->
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2>Artículos que pueden ayudarte</h2>
      <hr>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="servicios col">
      <div class="card art">
        <div class="card-body">
          <h4 class="card-title">Plan Especial de Regulación de Deudas</h4>
          <p class="card-text">Si necesitas ponerte al día con tus impuestos, este artículo puede brindarte información para conseguirlo.</p>
        </div>
        <a routerLink="/home/articulos/regulacion" class="btn btn-info">Detalles</a>
      </div>
    </div>
    <div class="servicios col">
      <div class="card art">
        <div class="card-body">
          <h4 class="card-title">Exención sobre Ingresos Brutos</h4>
          <p class="card-text">Exención vigente para profesionales universitarios de la provincia de Neuquén</p>
        </div>
        <a routerLink="/home/articulos/profuni" class="btn btn-info">Detalles</a>
      </div>
    </div>
    <div class="servicios col">
      <div class="card art">
        <div class="card-body">
          <h4 class="card-title">I.T.C.- Impuesto a la Transferencia de los Combustibles</h4>
          <p class="card-text">Todo lo que necesitas saber para entender la normativa vigente sobre el impuesto a la transferencia de combustibles.</p>
        </div>
        <a routerLink="/home/articulos/itc" class="btn btn-info">Detalles</a>
      </div>
    </div>
  </div>
  <br>
</div>
<!--Contacto-->
<div class="container-fluid">
  <div class="row bg-dark ">
    <div class="col text-white">
      <div class="row contacto">
        <div class="col align-self-center text-center">
          <h2>Podes Encontrarnos en:</h2>
          <br>
          <p>Tucumán 335 - Neuquén Capital - Neuquén - Patagonia - Argentina</p>
          <p>Tel: 0299 - 442 5691</p>
          <p>Mail: info@psestudio.com.ar</p>
          <br>
          <a routerLink="/home/contacto" class="btn btn-info">Dejanos tu Consulta</a>
        </div>
      </div>
    </div>
    <div class="col map-row">
      <app-home-map></app-home-map>
    </div>
  </div>
</div>